/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: #822fff;
  --main-color-alt: #822fff;
  --main-transition: 0.3s;
  --main-padding-top: 60px;
  --main-padding-bottom: 60px;
  --section-background: #ececec;
  --transparent-color: rgba(173, 122, 255, 0.7);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 100px;
  text-transform: uppercase;

}
.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: #f48024;
}
.main-btn {
  display: block;
  width: fit-content;
  margin: 20px auto;
  background-color: var(--main-color);
  color: white;
  padding: 15px 30px;
  transition: var(--main-transition);
  text-decoration: none;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.main-btn:hover {
  background-color: #5a0eb1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 30px;
}

.search-bar i {
  position: absolute;
  left: 15px;
  color: var(--main-color);
}

.search-bar input {
  border-radius: 50px;
  border: none;
  padding: 20px 150px 20px 40px;
  caret-color: var(--main-color);
  outline: none;
  width: 100%;
}

.search-bar button[type="submit"] {
  background-color: var(--main-color);
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  position: absolute;
  right: 15px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

@media (max-width: 991px) {
  .search-bar button[type="submit"] {
    display: none;
  }

  .search-bar input {
    padding-right: 40px;
  }
}

.dots {
  background-image: url("../imgs/dots.png");
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
}

.dots-up {
  top: 200px;
  right: 0;
}

.dots-down {
  bottom: 200px;
  left: 0;
}

/* End Global Rules */
/* start floating btn */
#floating-arrow {
  position: fixed;
  bottom: 25px;
  right: 30px;
  color: #f09426;
  cursor: pointer;
  z-index: 9999;
  display: none;
  animation: floatAnimation 0.8s infinite alternate;
  -webkit-animation: floatAnimation 0.8s infinite alternate;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

/* end flaoting btn */

/* Start navbar */
.header {
  background-color: var(--main-color);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

.main-header {
  background-color: transparent;
  position: relative;
  top: 0px;
  width: 100%;
  z-index: 999;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header .logo {
  color: white;
  font-size: 30px;
  font-weight: bold;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  text-transform: uppercase;
}

.header .logo span {
  color: #f09426;
}

.header .main-nav,
.left-nav {
  display: flex;
}

.header .main-nav>li {
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .header .main-nav li {
    display: none;
  }
}

.header .main-nav .icon {
  margin-right: 10px;
}

.header .main-nav>li>a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  position: relative;
  color: rgb(255, 255, 255);
  padding: 0 20px;
  overflow: hidden;
  font-size: 16px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.header .main-nav>li>a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: white;
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}

.header .main-nav>li>a:hover {
  color: white;
  background-color: rgb(160, 94, 247);
}

.header .main-nav>li>a:hover::before {
  left: 0;
}

.left-nav>li>a {
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  font-size: 16px;
  border: 1px solid;
}

.left-nav {
  display: flex;
  align-items: center;
}

.left-nav .join {
  background-color: #f09426;
  border-radius: 4px;
  margin-left: 10px;
  border-color: #f09426;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

@media (max-width: 767px) {
  .left-nav .join {
    display: none;
  }
}

.left-nav .login {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.left-nav .join:hover {
  transition: var(--main-transition);
  background-color: #ac722c;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.left-nav .login:hover {
  background-color: rgb(199, 199, 199);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.header .toggle-menu {
  color: white;
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 22px;
  cursor: pointer;
}

/* 
@media (max-width: 991px) {
  .header .toggle-menu {
    color: white;
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 22px;
    cursor: pointer;
  }
} */

.header .left-nav ul {
  display: none;
  width: 25%;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: 1px solid #bebebe;
}

.header .left-nav #toggle li a {
  padding: 20px 20px;
  display: block;
  color: black;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid #eee;
}

.header .left-nav #toggle li a:hover {
  background-color: #eee;
}

#toggle.open {
  display: flex;
}

@media (max-width: 991px) {
  .header .left-nav #toggle {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .header .left-nav #toggle {
    width: 100%;
  }
}

/* End Header */

/* Start Landing */
.landing {
  position: relative;
  background-image: url(../imgs/moso\ 6.jpg);
  background-size: cover;
  margin-top: -62px;
}

/* .landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
} */

.landing .container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .landing .text {
    text-align: center;
    flex: 1;
  }
}

.landing .text h1 {
  font-size: 45px;
  font-weight: 600;
  margin: 0;
  letter-spacing: -2px;
  color: white;
}

@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
}

.landing .text p {
  font-size: 20px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #ffffff;
  max-width: 500px;
}

@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}

@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}

.landing .employer {
  display: block;
  width: fit-content;
  margin: 30px auto 0;
  background-color: #34ac79;
  color: white;
  border-radius: 50px;
  padding: 15px 30px;
  text-decoration: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.landing .employer:hover {
  transition: var(--main-transition);
  background-color: #1b6d4b;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.landing .image img {
  position: relative;
  padding: 0;
  width: 600px;
  height: fit-content;
  animation: up-and-down 5s linear infinite;
  -webkit-animation: up-and-down 5s linear infinite;
}

@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}

.landing .go-down {
  color: #f09426;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.landing .go-down:hover {
  color: var(--main-color-alt);
}

.landing .go-down i {
  animation: bouncing 1.5s infinite;
  -webkit-animation: bouncing 1.5s infinite;
}

/* End Landing */

/* start slider */
.hero-carousel {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.c-item {
  height: 500px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.slider-section {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.slider a {
  color: #ffffff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 0 12px;
  border: 1px solid transparent;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  min-width: 80px;
  min-height: 40px;
  transition: var(--main-transition);
  line-height: 32px;
  background-color: var(--main-color);
  width: 172px;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.slider a:hover {
  background-color: #5a0eb1;
}

/* end slider */


/* start logo slider */
.logo_wrapper {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_active img {
  width: 80px !important;
}

.logo_active .owl-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}

/* end logo slider*/


/* Start new jobs */
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.articles .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
  -webkit-transition: transform var(--main-transition),
    box-shadow var(--main-transition);
  -moz-transition: transform var(--main-transition),
    box-shadow var(--main-transition);
  -ms-transition: transform var(--main-transition),
    box-shadow var(--main-transition);
  -o-transition: transform var(--main-transition),
    box-shadow var(--main-transition);
}

.articles .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.articles .box .content {
  padding: 20px;
}

.articles .box .content h3 {
  margin: 0;
}

.articles .box .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: #777;
}

.articles .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles .box .info a {
  color: var(--main-color);
  font-weight: bold;
  font-size: 14px;
}

.articles .box .info i {
  color: var(--main-color);
}

.articles .box:hover .info i {
  animation: moving-arrow 0.6s linear infinite;
}
/* End new jobs */

/* Start Features */
.features {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: white;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.features .box {
  text-align: center;
  border: 1px solid #ccc;
  padding: 50px 0;
  position: relative;
}

.features .box h2 {
  position: relative;
  font-size: 35px;
  margin: auto;
  width: fit-content;
}

.features .box h2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 15px;
  height: 5px;
  width: calc(100% - 30px);
}

.features .box p {
  line-height: 2;
  font-size: 18px;
  margin: 30px 0;
  padding: 25px;
  color: #777;
}

.features .box a {
  display: block;
  border: 3px solid transparent;
  width: fit-content;
  margin: 0 auto 0px;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 6px;
  transition: var(--main-transition);
}

.features .quality .img-holder::before {
  background-color: rgb(244 64 54 / 60%);
}

.features .quality h2::after {
  background-color: #f44036;
}

.features .quality a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .time h2::after {
  background-color: #009688;
}

.features .time a {
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .passion h2::after {
  background-color: #03a9f4;
}

.features .passion a {
  color: #03a9f4;
  border-color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .box:hover a {
  background-position: left bottom;
  color: white;
}

/* End Features */

/* Start Video */
.video {
  position: relative;
}

.video::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}

.video video {
  width: 100%;
}

.video .text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.video .text h2 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.video .text p {
  margin-bottom: 30px;
}

.video .text button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
}
/* End Video */


/* Start Work Steps */
.work-steps {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
  overflow: hidden;
}

.work-steps .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .work-steps .container {
    flex-direction: column;
  }
}

.work-steps .image {
  max-width: 100%;
  margin-right: 100px;
}

@media (max-width: 991px) {
  .work-steps .image {
    margin: 0 0 50px;
  }
}

.work-steps .info .box {
  background-color: #f6f5f5;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  border: 2px solid white;
  position: relative;
  z-index: 1;
}

@media (max-width: 767px) {
  .work-steps .info .box {
    flex-direction: column;
    text-align: center;
  }
}

.work-steps .info .box::before {
  content: "";
  left: 50%;
  top: 50%;
  position: absolute;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: #ededed;
  z-index: -1;
  transition: var(--main-transition);
}

.work-steps .info .box:hover::before {
  width: 100%;
  height: 100%;
}

.work-steps .info .box img {
  width: 64px;
  margin-right: 30px;
}

@media (max-width: 767px) {
  .work-steps .info .box img {
    margin: 0 0 30px;
  }
}

.work-steps .info .box h4 {
  margin: 0;
  font-size: 22px;
}

.work-steps .info .box p {
  color: #777;
  line-height: 1.7;
  margin: 10px 0 0;
  font-size: 16px;
}
/* End Work Steps */

/* Start Pricing */
.pricing {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}

.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.pricing .box {
  position: relative;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: var(--main-transition);
  background: white;
  text-align: center;
  z-index: 1;
}

.pricing .box::before,
.pricing .box::after {
  content: "";
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  position: absolute;
  z-index: -1;
  transition: var(--main-transition);
}

.pricing .box::before {
  left: 0;
  top: 0;
}

.pricing .box::after {
  right: 0;
  bottom: 0;
}

.pricing .box:hover::before,
.pricing .box:hover::after {
  width: 100%;
}

@media (min-width: 1200px) {
  .pricing .box.popular {
    top: -20px;
  }
}

.pricing .box.popular .label {
  position: absolute;
  writing-mode: vertical-rl;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 10px 10px 35px 10px;
  font-size: 18px;
  right: 20px;
  width: 40px;
}

.pricing .box.popular .label::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-color: transparent transparent white;
  border-width: 20px;
}

.pricing .box .title {
  font-weight: bold;
  margin: 30px 0;
  font-size: 25px;
  letter-spacing: -1px;
}

.pricing .box img {
  width: 80px;
  margin-bottom: 30px;
}

.pricing .box .price {
  margin-bottom: 20px;
}

.pricing .box .amount {
  display: block;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--main-color);
}

.pricing .box .time {
  color: #777;
}

.pricing .box ul {
  text-align: left;
}

.pricing .box ul li {
  padding: 20px;
  border-top: 1px solid #eee;
}

.pricing .box ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: 900;
  color: var(--main-color);
}

.pricing .box a {
  display: block;
  width: fit-content;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  margin: 30px auto 40px;
  padding: 15px 20px;
  border-radius: 6px;
  font-weight: bold;
  transition: var(--main-transition);
}

.pricing .box a:hover {
  background-color: var(--main-color-alt);
  border-color: var(--main-color-alt);
  color: white;
}
/* End Pricing */

/* Start Stats */
.stats {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-image: url("../imgs/stats.jpg");
  background-size: cover;
  min-height: 300px;
}

.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 95%);
}

.stats h2 {
  font-weight: bold;
  font-size: 40px;
  width: fit-content;
  margin: 0 auto 50px;
  position: relative;
  text-align: center;
}

.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.stats .box {
  background-color: white;
  padding: 30px 15px;
  text-align: center;
  position: relative;
  opacity: 0.8;
  transition: var(--main-transition);
}

.stats .box::before,
.stats .box::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--main-color);
  transition: 1s;
  height: 0;
}

.stats .box::before {
  top: 0;
  right: 0;
}

.stats .box::after {
  left: 0;
  bottom: 0;
}

.stats .box:hover {
  opacity: 1;
}

.stats .box:hover::before,
.stats .box:hover::after {
  height: 100%;
}

.stats .box .number {
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.stats .box .text {
  color: var(--main-color);
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}
/* End Stats */

/* Start contact */
.contact {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.contact .image {
  background-size: cover;
  color: white;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.contact .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(97, 26, 211, 0.5);
  z-index: -1;
}

@media (max-width: 991px) {
  .contact .image {
    flex-basis: 100%;
  }
}

.contact .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  padding-bottom: 50px;
}

@media (max-width: 991px) {
  .contact .form {
    flex-basis: 100%;
  }
}

.contact .form .input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}

.contact .form textarea.input {
  resize: none;
  height: 200px;
}

.contact .form .input:focus {
  outline: none;
}

.contact .form [type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
}

.contact .form [type="submit"]:hover {
  background-color: var(--main-color-alt);
}

.contact .content {
  text-align: center;
  padding: 0 20px;
}

.contact .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
}

.contact .content p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}

.contact .content img {
  width: 400px;
  max-width: 100%;
  position: relative;
  animation: up-and-down 5s linear infinite;
  -webkit-animation: up-and-down 5s linear infinite;
}

/* End contact */

/* Start Footer */
.footer {
  background-color: #191919;
  padding: 40px 0 0 0;
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.footer .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}

.footer .box .social {
  display: flex;
}

@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}

.footer .box .social li {
  margin-right: 10px;
}

.footer .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
}

.footer .box .social .facebook:hover {
  background-color: #1877f2;
}

.footer .box .social .twitter:hover {
  background-color: #1da1f2;
}

.footer .box .social .youtube:hover {
  background-color: #ff0000;
}

.footer .box .text {
  line-height: 2;
  color: #b9b9b9;
}

.footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}

.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}

.footer .box .links li:hover {
  padding-left: 10px;
}

.footer .box .links li:hover a {
  color: white;
}

.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}

.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}

.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .footer .box .line {
    flex-direction: column;
  }
}

.footer .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}

@media (max-width: 767px) {
  .footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}

.footer .box .line .info span {
  display: block;
}

.footer .footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}

.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 40px 0 0 0;
  border-top: 1px solid #444;
}

/* End Footer */
/* Start Animation */
@keyframes up-and-down {

  0%,
  100% {
    top: 0;
  }

  50% {
    top: -50px;
  }
}

@keyframes bouncing {

  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40%,
  60% {
    transform: translateY(-15px);
  }
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}

@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}

@keyframes flashing {

  0%,
  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

@keyframes change-background {

  0%,
  100% {
    background-image: url("../imgs/discount-background1.jpg");
  }

  50% {
    background-image: url("../imgs/discount-background2.jpg");
  }
}

/* End Animation */

/* start slang */
.slang {
  background-color: rgb(0, 30, 76);
  height: 140px;

}

.slang .container {
  max-width: 920px;
  width: calc(100% - 32px);
  margin: 0px auto;
}

.slang .container h1 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.5px;
  line-height: 29px;
  margin-top: 0px;
  padding-top: 28px;
  padding-bottom: 0px;
  margin-bottom: 16px;
}
/* end slang */

/* start jobs */
.jobs {
  background-color: var(--section-background);
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.job-list {
  padding: 16px 24px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #d9dde4;
  background-color: white;
  position: relative;
}

.job-list .box {
  background-color: rgb(255, 255, 255);
  width: 75%;
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 60px;
}

.job-list h2 {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -0.4px;
  line-height: 24px;
  color: var(--main-color);
  margin: 0px;
}

.job-list .campanies {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -0.27px;
  color: rgb(0, 20, 51);
  text-decoration: none;
}

.job-list p {
  margin: 5px 0;
  padding: 0;
}

.job-list .jop-time {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.27px;
  line-height: 19px;
  color: rgb(44, 146, 102);
}

.job-list .jop-status {
  font-size: 12px;
  font-weight: 600;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  min-height: 20px;
  margin-right: 4px;
  max-width: 196px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: rgb(235, 237, 240);
  color: rgb(0, 20, 51);
  padding: 0px 4px;
  margin: 5px 0 5px;
  border-radius: 4px;
}

.job-list .skills {
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -0.3px;
  line-height: 20px;
  color: rgb(77, 97, 130);
}

.job-list button {
  background: var(--main-color);
  color: #fff;
  display: block;
  padding: 13px 29px 13px 29px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.job-list button:hover {
  background-color: #fff;
  color: var(--main-color);
  border-color: var(--main-color);
}

.job-list img {
  position: absolute;
  right: 20px;
  top: 30px;
  width: 60px;
  height: 60px;
  object-fit: contain;
  object-position: center center;
}
/* end jobs */

/* start registration */
.registration-section {
  background-image: url(../imgs/ftuy4.jpg);
  background-size: cover;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  min-height: calc(100vh - 62px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.registration-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 0;
}

.registration-section .image {
  color: white;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  background-color: transparent;
}

.registration-section .image img {
  width: 100%;
  max-width: 100%;
  position: relative;
  animation: up-and-down 5s linear infinite;
  -webkit-animation: up-and-down 5s linear infinite;
}

@media (max-width: 991px) {
  .registration-section .image {
    display: none;
  }
}

.registration-section .form {
  display: flex;
  background-color: white;
  border: 1px solid #d9dde4;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  padding: 80px 0;
}

@media (max-width: 991px) {
  .registration-section .form {
    flex-basis: 90%;
  }
}

.registration-section .form .input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}

.registration-section .form .input:focus {
  outline: none;
}

.registration-section .form [type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
}

.registration-section .form [type="submit"]:hover {
  background-color: var(--main-color-alt);
}

.registration-section .content a {
  font-size: 14px;
  font-weight: 600;
  color: var(--main-color-alt);
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  padding: 10px;
}

.registration-section .content .join-now {
  font-size: 16px;
  color: var(--main-color-alt);
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.registration-section .content {
  text-align: center;
  padding: 0 20px;
}

.registration-section .content h2 {
  font-size: 35px;
  letter-spacing: -2px;
  color: var(--main-color);
}

.registration-section .content p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
  color: black;
}
/* end registration */


/* start about */
.about-us {
  background-color: var(--section-background);
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.about-us .about {
  background-color: white;
  border: 1px solid #d9dde4;
  padding: 20px;
}

.about-us .about h1 {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.6px;
  line-height: 34px;
  margin-bottom: 0;
}

.about-us .about hr {
  border: 1px solid #eee;
}

.about-us .about p {
  font-weight: 400;
  letter-spacing: -0.35px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 40px;
}

.about-us .about a {
  color: var(--main-color-alt);
}
/* end about */


/* start job details */
.job-details-section {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
}

.job-details-section .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.job-details-section .left-section {
  flex-basis: 68%;
}

.job-details-section .left-section .job-list {
  box-shadow: none;
}

.job-details-section .left-section .job-list h1 {
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -0.6px;
  line-height: 34px;
  color: #001433;
  margin-bottom: 4px;
  word-break: break-word;
}

.job-details-section .left-section .job-list .campanies {
  color: var(--main-color);
  font-size: 17px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.job-details-section .left-section .job-list hr {
  border: 1px solid #eee;
  margin: 15px 0;
}

.job-details-section .left-section .job-details {
  padding: 30px;
  background-color: white;
  border: 1px solid #d9dde4;
}

.job-details-section .left-section .job-details .single_wrap {
  margin-bottom: 30px;
}

.job-details-section .left-section .job-details .single_wrap h2 {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.4px;
  line-height: 24px;
}

.job-details-section .left-section .job-details .single_wrap p {
  color: #7a838b;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
}

.job-details-section .left-section .job-details .single_wrap ul {
  margin: 0px;
  padding: 0px;
}

.job-details-section .left-section .job-details .single_wrap ul li {
  font-size: 14px;
  line-height: 32px;
  color: #7a838b;
  font-weight: 400;
  position: relative;
  padding-left: 25px;
}

.job-details-section .left-section .job-details .single_wrap ul li::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 7px;
  height: 7px;
  background: #7a838b;
  content: "";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: 12px;
}

.job-details-section .container .right-section {
  flex-basis: 30%;
}

.job-details-section .right-section .job_sumary {
  background-color: white;
  border: 1px solid #d9dde4;
}

.job-details-section .job_sumary .summery_header {
  border-bottom: 1px solid #eaeaea;
  padding: 40px;
}

.job-details-section .job_sumary .summery_header h1 {
  font-size: 24px;
  color: #001d38;
  font-weight: 400;
}

.job-details-section .job_sumary .job_content {
  padding: 40px;
}

.job-details-section .job_sumary .job_content ul {
  margin: 0px;
  padding: 0px;
}

.job-details-section .job_sumary .job_content ul li {
  font-size: 16px;
  font-weight: 400;
  color: #aab1b7;
  line-height: 38px;
  padding-left: 18px;
  position: relative;
}

.job-details-section .job_sumary .job_content ul li::before {
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid #aab1b7;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 0;
  content: "";
  top: 16px;
}

.job-details-section .job_sumary .job_content ul li span {
  color: #001d38;
}

.job-details-section .share_wrap {
  background: #fff;
  margin: 20px 0;
  padding: 20px;
  display: flex;
  border: 1px solid #d9dde4;
}

.job-details-section .share_wrap span {
  font-size: 16px;
  font-weight: 500;
  color: #001d38;
  margin-right: 20px;
}

.job-details-section .share_wrap ul {
  margin: 0;
  padding: 0;
}

.job-details-section .share_wrap ul li {
  display: inline-block;
  margin-right: 10px;
}

.job-details-section .share_wrap ul li a {
  font-size: 16px;
  color: #d5d5d5;
}

.right-section .related-jobs {
  background: white;
  width: 100%;
  border: 1px solid #d9dde4;
  border-radius: 4px;
  padding: 16px;
  display: flex;
  flex-flow: column;
  margin: 20px 0;
}

.right-section .related-jobs a {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.35px;
  line-height: 22px;
  color: var(--main-color-alt);
  -webkit-text-decoration: none;
  text-decoration: none;
  margin-bottom: 8px;
  word-break: break-word;
}

.right-section .related-jobs p {
  margin: 12px 0 16px;
  font-size: 14px;
  color: #7a838b;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.35px;
  line-height: 22px;
}

.right-section .related-jobs .reg-nav-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 0 12px;
  border: 1px solid transparent;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  user-select: none;
  cursor: pointer;
  min-width: 80px;
  -webkit-transition: color 0.2s ease, background-color 0.2s ease,
    border-color 0.2s ease;
  transition: color 0.2s ease, background-color 0.2s ease,
    border-color 0.2s ease;
  min-height: 40px;
  line-height: 32px;
  color: var(--main-color);
  background-color: #f3ecfc;
  width: 100%;
  -moz-transition: color 0.2s ease, background-color 0.2s ease,
    border-color 0.2s ease;
  -ms-transition: color 0.2s ease, background-color 0.2s ease,
    border-color 0.2s ease;
  -o-transition: color 0.2s ease, background-color 0.2s ease,
    border-color 0.2s ease;
}

.right-section .related-jobs .reg-nav-btn:hover {
  background-color: #ecdffc;
}

@media (max-width: 991px) {
  .job-details-section .left-section {
    flex-basis: 100%;
  }

  .job-details-section .right-section {
    flex: 1;
    margin-top: 20px;
  }
}
/* end job details  */

